.header {
  position: relative;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #fff;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  z-index: 1002;
  /* End NavMenu */ }
  @media (max-width: 999px) {
    .header {
      padding: 8px 0px; } }
  .header.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    animation: slideDown 0.4s ease forwards; }
    @media (max-width: 999px) {
      .header.sticky {
        animation: none; } }
@keyframes slideDown {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }
    .header.sticky .logo img {
      max-width: 75px; }
      @media (max-width: 999px) {
        .header.sticky .logo img {
          max-width: 75px; } }
    .header.sticky .menu-item {
      height: 84px; }
      @media (max-width: 999px) {
        .header.sticky .menu-item {
          height: auto; } }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .burger {
    position: relative;
    display: none;
    cursor: pointer;
    user-select: none;
    width: 24px;
    height: 1rem;
    background: transparent; }
    .header .burger-line {
      position: absolute;
      display: block;
      right: 0px;
      width: 100%;
      height: 2px;
      opacity: 1;
      border: none;
      outline: none;
      background: #000; }
      .header .burger-line:nth-child(1) {
        top: 0px; }
      .header .burger-line:nth-child(2) {
        top: 0.5rem;
        width: 80%; }
      .header .burger-line:nth-child(3) {
        top: 1rem;
        width: 60%; }
    @media only screen and (max-width: 999px) {
      .header .burger {
        display: block;
        opacity: 1;
        visibility: visible; } }
  .header .logo img {
    max-width: 100px; }
    @media (max-width: 999px) {
      .header .logo img {
        max-width: 75px; } }
  .header .navbar {
    position: relative;
    padding: 0px; }
    .header .navbar .logo {
      display: none; }
      @media screen and (max-width: 999px) {
        .header .navbar .logo {
          display: block; }
          .header .navbar .logo img {
            max-width: 110px; } }
    .header .navbar .cancel {
      display: none;
      position: absolute;
      top: 18px;
      right: 18px;
      z-index: 10; }
      .header .navbar .cancel svg {
        width: 16px;
        height: 16px; }
    @media screen and (max-width: 999px) {
      .header .navbar {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 290px;
        height: 100%;
        z-index: 10;
        opacity: 0;
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        box-shadow: 0px 10px 40px 0px #06163a1a;
        background: #fff;
        padding: 12px;
        transition: all 0.5s ease; }
        .header .navbar.active {
          left: 0rem;
          opacity: 1;
          visibility: visible; }
        .header .navbar .cancel {
          display: block; } }
  .header .menu {
    display: flex;
    align-items: center;
    gap: 32px; }
    .header .menu-item {
      position: relative;
      height: 108px;
      display: flex;
      align-items: center; }
      @media (max-width: 999px) {
        .header .menu-item {
          border-bottom: 1px solid #F3F4F6;
          height: auto; } }
    .header .menu-link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      color: #0f172a;
      font-weight: 500;
      text-transform: capitalize;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 999px) {
        .header .menu-link {
          justify-content: space-between;
          padding: 4px 0px; } }
      .header .menu-link::after {
        content: "";
        position: absolute;
        left: -16px;
        top: 14px;
        width: 0px;
        height: 3px;
        background: #E83646;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
        @media (max-width: 999px) {
          .header .menu-link::after {
            display: none; } }
      .header .menu-link svg {
        position: relative;
        max-width: 16px;
        height: 16px;
        fill: #000; }
        @media only screen and (max-width: 999px) {
          .header .menu-link svg {
            z-index: -1; } }
    @media only screen and (min-width: 999px) {
      .header .menu-dropdown:hover > .submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 100; } }
    @media only screen and (max-width: 999px) {
      .header .menu {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 48px; }
        .header .menu-item {
          display: block; } }
    .header .menu .activelink .menu-link {
      color: #E83646; }
      .header .menu .activelink .menu-link::after {
        width: 12px; }
    .header .menu .activelink .menu-link,
    .header .menu .menu-item:hover .menu-link {
      color: #E83646; }
      .header .menu .activelink .menu-link::after,
      .header .menu .menu-item:hover .menu-link::after {
        width: 12px; }
    @media only screen and (max-width: 999px) {
      .header .menu .activelink .submenu {
        opacity: 1;
        visibility: visible;
        transform: none; } }
  .header .submenu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 244px;
    height: auto;
    visibility: hidden;
    transform: translateY(1rem);
    background: #fff;
    -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 16px 16px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    overflow: hidden;
    padding: 12px; }
    @media only screen and (max-width: 999px) {
      .header .submenu {
        display: block;
        position: relative;
        max-height: 0px;
        outline: none;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        box-shadow: none;
        padding: 0px;
        background: #F3F4F6;
        width: 100%;
        border-radius: 0px; } }
    .header .submenu a {
      display: block;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      text-transform: capitalize;
      font-size: 14px;
      border-bottom: 1px solid #ECECEC;
      padding-bottom: 8px;
      margin-bottom: 8px; }
      @media only screen and (max-width: 999px) {
        .header .submenu a {
          padding: 8px 12px;
          margin: 0px; } }
      .header .submenu a:last-child {
        margin: 0px;
        border-bottom: 0px;
        padding-bottom: 0px; }
        @media only screen and (max-width: 999px) {
          .header .submenu a:last-child {
            padding-bottom: 8px; } }
      .header .submenu a:hover {
        color: #E83646; }
  .header .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65); }
    @media only screen and (max-width: 999px) {
      .header .overlay.active {
        display: block;
        opacity: 1;
        visibility: visible; } }
  .header .actions {
    display: flex;
    align-items: center;
    gap: 12px; }
    .header .actions .language {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      border: 1px solid #E83646;
      min-width: 44px;
      height: 44px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 999px) {
        .header .actions .language {
          min-width: 30px;
          height: 30px;
          font-size: 14px; } }
      .header .actions .language:hover {
        box-shadow: 0 0 20px #e8364661; }
    @media (max-width: 999px) {
      .header .actions .bottom {
        display: none; } }

.slider-item {
  padding: 0px !important;
  height: calc(100vh - 109px);
  overflow: hidden; }
  @media (max-width: 999px) {
    .slider-item {
      height: 80vh; } }
  .slider-item .carousel {
    height: 100%;
    overflow: hidden; }
    .slider-item .carousel:hover .carousel-control-next {
      right: 24px; }
    .slider-item .carousel:hover .carousel-control-prev {
      left: 24px; }
    .slider-item .carousel .carousel-inner {
      height: 100%; }
    .slider-item .carousel .carousel-item {
      overflow: hidden;
      height: 100%;
      background: #E83646; }
      .slider-item .carousel .carousel-item::after {
        content: '';
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #0d264800, #0d2648); }
        @media (max-width: 999px) {
          .slider-item .carousel .carousel-item::after {
            background: linear-gradient(to bottom, #0d264800, #0d2648); } }
      .slider-item .carousel .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .slider-item .carousel .carousel-control-next,
    .slider-item .carousel .carousel-control-prev {
      width: 48px;
      height: 48px;
      top: 50%;
      background: #1b355794;
      opacity: 1;
      margin-top: -24px;
      border-radius: 50%;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 999px) {
        .slider-item .carousel .carousel-control-next,
        .slider-item .carousel .carousel-control-prev {
          display: none; } }
      .slider-item .carousel .carousel-control-next svg,
      .slider-item .carousel .carousel-control-prev svg {
        width: 18px;
        height: 18px;
        fill: #fff;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
      .slider-item .carousel .carousel-control-next:hover,
      .slider-item .carousel .carousel-control-prev:hover {
        background: #E83646; }
    .slider-item .carousel .carousel-control-next {
      right: -90px; }
    .slider-item .carousel .carousel-control-prev {
      left: -90px; }
      .slider-item .carousel .carousel-control-prev svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .slider-item .carousel .carousel-indicators {
      padding: 0px;
      margin: 0px;
      gap: 8px;
      margin-bottom: 24px; }
      .slider-item .carousel .carousel-indicators button {
        box-sizing: inherit;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        margin: 0px;
        border: 0px;
        opacity: 1;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
        .slider-item .carousel .carousel-indicators button.active {
          background: #E83646;
          width: 44px;
          border-radius: 8px; }
  .slider-item .container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index: 1; }
    .slider-item .container .contant {
      max-width: 50%; }
      @media (max-width: 999px) {
        .slider-item .container .contant {
          max-width: 100%;
          text-align: center; } }
      .slider-item .container .contant span {
        display: block;
        color: #E83646;
        margin-bottom: 12px; }
        @media (max-width: 999px) {
          .slider-item .container .contant span {
            display: none; } }
      .slider-item .container .contant .title {
        color: #fff;
        margin-bottom: 12px; }
        @media (max-width: 999px) {
          .slider-item .container .contant .title {
            text-align: center; } }
      .slider-item .container .contant p {
        color: #ffffffe0; }
        @media (max-width: 999px) {
          .slider-item .container .contant p {
            display: none; } }
      .slider-item .container .contant .bottom {
        margin-top: 20px; }

.aboutus-item .container {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 24px;
  margin-top: 24px; }
  @media (max-width: 1199px) {
    .aboutus-item .container {
      grid-template-columns: 200px 1fr; } }
  @media (max-width: 999px) {
    .aboutus-item .container {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px; } }
.aboutus-item .grid-image-container {
  height: 508px;
  border-radius: 16px;
  overflow: hidden; }
  @media (max-width: 999px) {
    .aboutus-item .grid-image-container {
      display: none; } }
  .aboutus-item .grid-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
@media (max-width: 999px) {
  .aboutus-item .item {
    order: -1; } }
.aboutus-item .char {
  display: inline-block;
  color: #ccc;
  transition: color 0.4s ease, -webkit-text-stroke 0.4s ease, transform 0.4s ease;
  white-space: pre; }
  .aboutus-item .char.reveal-dark {
    color: #000; }
.aboutus-item .text span {
  color: #E83646; }
.aboutus-item .inner {
  display: grid;
  grid-template-columns: 346px 1fr;
  gap: 24px;
  margin-top: 24px; }
  @media (max-width: 999px) {
    .aboutus-item .inner {
      grid-template-columns: 1fr; } }
  @media (max-width: 999px) {
    .aboutus-item .inner .subinner {
      order: 2; } }
  .aboutus-item .inner .subinner .boxborder .title {
    color: #E83646;
    font-size: 24px;
    font-weight: 400; }
  .aboutus-item .inner .subinner .boxborder p {
    margin-top: 12px;
    font-size: 14px; }
    .aboutus-item .inner .subinner .boxborder p strong {
      font-weight: 700; }
  .aboutus-item .inner .subinner .borderitem {
    border-top: 1px solid #1b355724;
    padding-top: 24px;
    margin-top: 24px; }
  .aboutus-item .inner .subinner .bottom {
    min-width: 160px; }
  .aboutus-item .inner .red-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E83646;
    border-radius: 16px;
    height: 148px;
    overflow: hidden; }
    @media (max-width: 400px) {
      .aboutus-item .inner .red-card {
        display: block;
        height: auto; } }
    .aboutus-item .inner .red-card .title {
      padding: 24px;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      max-width: 274px; }
      @media (max-width: 400px) {
        .aboutus-item .inner .red-card .title {
          max-width: 100%;
          text-align: center; } }
    .aboutus-item .inner .red-card .bars-container {
      display: flex;
      align-items: flex-end;
      gap: 1px;
      height: 100%; }
      @media (max-width: 400px) {
        .aboutus-item .inner .red-card .bars-container {
          justify-content: center;
          height: 100px; } }
      .aboutus-item .inner .red-card .bars-container .bar-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        width: 45px;
        height: 100%;
        overflow: hidden; }
        .aboutus-item .inner .red-card .bars-container .bar-wrapper:nth-child(3) .bar-fill {
          background: #ffffff40; }
        .aboutus-item .inner .red-card .bars-container .bar-wrapper:nth-child(2) .bar-fill {
          background: #ffffff2b; }
        .aboutus-item .inner .red-card .bars-container .bar-wrapper:nth-child(1) .bar-fill {
          background: #ffffff1f; }
        .aboutus-item .inner .red-card .bars-container .bar-wrapper .bar-fill {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 0%;
          transition: height 1.5s cubic-bezier(0.1, 0.5, 0.1, 1); }
        .aboutus-item .inner .red-card .bars-container .bar-wrapper .bar-text {
          position: absolute;
          bottom: 15px;
          transform: rotate(-90deg);
          font-weight: 800;
          font-size: 14px;
          color: #fff;
          white-space: nowrap; }
  .aboutus-item .inner .dark-card {
    display: flex;
    background: #0D2648;
    border-radius: 20px;
    padding: 24px;
    height: 148px;
    gap: 25px;
    margin-top: 24px; }
    @media (max-width: 400px) {
      .aboutus-item .inner .dark-card {
        display: block; } }
    @media (max-width: 400px) {
      .aboutus-item .inner .dark-card {
        height: auto; } }
    .aboutus-item .inner .dark-card .counter-number {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 54px;
      font-weight: 800;
      color: #fff;
      min-width: 140px;
      max-width: 140px; }
      @media (max-width: 400px) {
        .aboutus-item .inner .dark-card .counter-number {
          min-width: 100%;
          max-width: 100%;
          margin-top: 24px; } }
    .aboutus-item .inner .dark-card .desc {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.4;
      color: #d0d8e0;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding-inline-start: 20px; }
      @media (max-width: 400px) {
        .aboutus-item .inner .dark-card .desc {
          border: 0px;
          padding: 0px;
          text-align: center;
          margin-top: 12px; } }

.services-item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 243px;
  height: 531px;
  background: url(../images/services/pricing-left.webp) no-repeat; }
  @media (max-width: 999px) {
    .services-item::before {
      display: none; } }
.services-item .rowbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 48px; }
  @media (max-width: 999px) {
    .services-item .rowbox {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-top: 24px; } }
  @media (max-width: 550px) {
    .services-item .rowbox {
      grid-template-columns: repeat(1, 1fr); } }
  .services-item .rowbox .item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: all 500ms ease;
    background: #fff;
    border: 1px solid #1b355724; }
    .services-item .rowbox .item:hover {
      border-color: #E83646;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); }
      .services-item .rowbox .item:hover .photo {
        height: 112px; }
    .services-item .rowbox .item .content {
      padding: 24px 24px 50px 24px; }
      .services-item .rowbox .item .content .title {
        font-size: 20px;
        font-weight: 600; }
      .services-item .rowbox .item .content ul {
        margin: 12px 0px 24px 0px;
        padding-bottom: 24px;
        border-bottom: 1px solid #1b355724;
        min-height: 145px; }
        .services-item .rowbox .item .content ul li {
          padding-inline-start: 12px;
          margin-top: 8px;
          position: relative; }
          .services-item .rowbox .item .content ul li::before {
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            top: 9px;
            left: 0px;
            background-color: #E83646;
            border-radius: 50%; }
      .services-item .rowbox .item .content .num {
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        color: #E83646; }
    .services-item .rowbox .item .photo {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 30px;
      z-index: 1;
      transition: all 500ms ease;
      border-radius: 0px 0px 20px 20px; }
      @media (max-width: 999px) {
        .services-item .rowbox .item .photo {
          height: 112px; } }
      .services-item .rowbox .item .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.bring-item {
  padding: 64px 0px;
  background: url(../images/bring.webp) no-repeat fixed center center/cover; }
  @media (max-width: 999px) {
    .bring-item {
      padding: 48px 0px; } }
  .bring-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b3557ed; }
  .bring-item .container {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 48px; }
    @media (max-width: 999px) {
      .bring-item .container {
        grid-template-columns: 1fr; } }
  .bring-item .item-text .title {
    font-size: 48px;
    color: #fff; }
    @media (max-width: 999px) {
      .bring-item .item-text .title {
        font-size: 38px;
        text-align: center; } }
  .bring-item .item-text p {
    color: #E4E4E4;
    margin-top: 12px; }
    @media (max-width: 999px) {
      .bring-item .item-text p {
        text-align: center; } }
  .bring-item .item-text img {
    margin-top: 24px;
    max-width: 158px; }
    @media (max-width: 999px) {
      .bring-item .item-text img {
        display: none; } }
  .bring-item .timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px; }
    @media (max-width: 999px) {
      .bring-item .timeline-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px; } }
    @media (max-width: 767px) {
      .bring-item .timeline-container {
        grid-template-columns: 1fr; } }
    .bring-item .timeline-container .timeline-line {
      position: absolute;
      top: 32px;
      left: 32px;
      width: 2px;
      height: calc(100% - 100px);
      background-color: rgba(255, 255, 255, 0.2);
      z-index: 1; }
      @media (max-width: 999px) {
        .bring-item .timeline-container .timeline-line {
          display: none; } }
    .bring-item .timeline-container .timeline-item {
      display: flex;
      align-items: center;
      position: relative;
      gap: 24px;
      z-index: 2; }
      @media (max-width: 999px) {
        .bring-item .timeline-container .timeline-item {
          display: block; } }
      .bring-item .timeline-container .timeline-item .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 68px;
        min-width: 68px;
        background: #E83646;
        border-radius: 50%; }
        @media (max-width: 999px) {
          .bring-item .timeline-container .timeline-item .icon-box {
            margin: 0px auto; } }
      .bring-item .timeline-container .timeline-item .content-box {
        position: relative;
        flex: 1;
        background: #1120347a;
        border-radius: 30px;
        padding: 20px 32px;
        color: #fff; }
        @media (max-width: 999px) {
          .bring-item .timeline-container .timeline-item .content-box {
            margin-top: 24px;
            padding: 20px; } }
        .bring-item .timeline-container .timeline-item .content-box::before {
          content: '';
          position: absolute;
          left: -9px;
          top: 50%;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right: 10px solid #1120347a; }
          @media (max-width: 999px) {
            .bring-item .timeline-container .timeline-item .content-box::before {
              top: -13px;
              left: 43%;
              rotate: 90deg; } }
          @media (max-width: 767px) {
            .bring-item .timeline-container .timeline-item .content-box::before {
              left: 47%; } }
        .bring-item .timeline-container .timeline-item .content-box .title {
          color: #fff;
          font-size: 22px;
          font-weight: 600; }
          @media (max-width: 999px) {
            .bring-item .timeline-container .timeline-item .content-box .title {
              text-align: center; } }
        .bring-item .timeline-container .timeline-item .content-box p {
          margin-top: 8px;
          color: #fff;
          font-size: 15px; }
          @media (max-width: 999px) {
            .bring-item .timeline-container .timeline-item .content-box p {
              text-align: center; } }

.item-products::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 222px;
  height: 531px;
  background: url(../images/products/pricing.webp) no-repeat; }
  @media (max-width: 999px) {
    .item-products::before {
      display: none; } }
.item-products .products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 48px; }
  @media (max-width: 999px) {
    .item-products .products-grid {
      margin-top: 24px;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 767px) {
    .item-products .products-grid {
      grid-template-columns: repeat(1, 1fr); } }
  .item-products .products-grid .product-card {
    background: #fff;
    border-radius: 30px;
    border: 1px solid #0d264830;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    overflow: hidden; }
    .item-products .products-grid .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); }
    .item-products .products-grid .product-card .photo {
      display: block;
      width: 100%;
      height: 220px;
      overflow: hidden; }
      .item-products .products-grid .product-card .photo:hover img {
        transition-duration: 0.5s;
        transform: scale3d(1.1, 1.1, 1) translate3d(4%, 0, 0); }
      .item-products .products-grid .product-card .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
    .item-products .products-grid .product-card .card-body {
      padding: 16px;
      text-align: center; }
      .item-products .products-grid .product-card .card-body .title a {
        display: block;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
        .item-products .products-grid .product-card .card-body .title a:hover {
          color: #E83646; }
      .item-products .products-grid .product-card .card-body p {
        margin-top: 8px;
        text-align: center;
        font-size: 15px; }
      .item-products .products-grid .product-card .card-body .see-more-btn {
        display: inline-flex;
        align-items: center;
        color: #E83646;
        text-decoration: none;
        font-weight: 500;
        gap: 4px;
        margin-top: 12px;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
        .item-products .products-grid .product-card .card-body .see-more-btn:hover {
          gap: 8px; }
.item-products .call-to-action-banner {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 60px;
  min-height: 350px;
  padding: 48px;
  margin-top: 48px;
  overflow: hidden; }
  @media (max-width: 999px) {
    .item-products .call-to-action-banner {
      margin-top: 24px;
      padding: 24px;
      min-height: 250px;
      border-radius: 30px; } }
  .item-products .call-to-action-banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0d264800, #0d2648); }
    @media (max-width: 999px) {
      .item-products .call-to-action-banner::after {
        background: linear-gradient(to bottom, #0d264800, #0d2648); } }
  .item-products .call-to-action-banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover; }
.item-products .banner-content {
  position: relative;
  max-width: 500px;
  z-index: 10; }
  @media (max-width: 999px) {
    .item-products .banner-content {
      max-width: 100%;
      text-align: center; } }
  .item-products .banner-content .title {
    color: #fff;
    font-size: 46px;
    margin-bottom: 16px; }
    @media (max-width: 999px) {
      .item-products .banner-content .title {
        font-size: 32px;
        text-align: center; } }

.customer-reviews .subitem {
  overflow: hidden;
  margin-top: 24px; }
.customer-reviews .slider-customer {
  position: relative;
  direction: ltr; }
  .customer-reviews .slider-customer .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
    margin: 0px -8px; }
    .customer-reviews .slider-customer .slick-list .slick-track {
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: auto;
      display: block;
      overflow: hidden; }
      .customer-reviews .slider-customer .slick-list .slick-track:after, .customer-reviews .slider-customer .slick-list .slick-track:before {
        display: table;
        content: ''; }
  .customer-reviews .slider-customer .slick-prev,
  .customer-reviews .slider-customer .slick-next {
    position: absolute;
    top: -50px;
    cursor: pointer;
    border: 0px;
    padding: 0px;
    outline: none;
    font-size: 0px;
    background: none;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .customer-reviews .slider-customer .slick-prev svg,
    .customer-reviews .slider-customer .slick-next svg {
      width: 18px;
      height: 18px;
      fill: #0095DA;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
  .customer-reviews .slider-customer .slick-next {
    left: 30px; }
  .customer-reviews .slider-customer .slick-prev {
    left: 0px; }
  .customer-reviews .slider-customer .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px; }
    .customer-reviews .slider-customer .slick-dots li {
      position: relative;
      display: inline-block;
      margin: 0px 4px;
      padding: 0px;
      cursor: pointer;
      width: 16px;
      height: 6px;
      border-radius: 5px; }
      .customer-reviews .slider-customer .slick-dots li button {
        font-size: 0px;
        line-height: 0px;
        display: block;
        width: 100%;
        height: 100%;
        border: 0px;
        outline: none;
        background: #e836463d;
        padding: 0px;
        border-radius: 5px; }
    .customer-reviews .slider-customer .slick-dots li.slick-active {
      background: #E83646; }
      .customer-reviews .slider-customer .slick-dots li.slick-active button {
        background: none; }
  .customer-reviews .slider-customer:hover .slick-prev,
  .customer-reviews .slider-customer:hover .slick-next {
    opacity: 1; }
  .customer-reviews .slider-customer .slick-prev,
  .customer-reviews .slider-customer .slick-next {
    display: none !important; }
  .customer-reviews .slider-customer .item {
    position: relative;
    display: inline-block;
    margin: 0px 12px;
    background: #fff;
    padding: 24px;
    border-radius: 30px;
    border: 1px solid #0d264830; }
    .customer-reviews .slider-customer .item .flex {
      display: flex;
      align-items: center;
      gap: 8px; }
      .customer-reviews .slider-customer .item .flex .photo {
        min-width: 80px;
        max-width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #F3F4F6;
        -webkit-box-shadow: 0px 0px 20px #00000012;
        -moz-box-shadow: 0px 0px 20px #00000012;
        -o-box-shadow: 0px 0px 20px #00000012;
        -ms-box-shadow: 0px 0px 20px #00000012;
        box-shadow: 0px 0px 20px #00000012;
        border: 2px solid #fff;
        overflow: hidden; }
        @media (max-width: 999px) {
          .customer-reviews .slider-customer .item .flex .photo {
            min-width: 60px;
            max-width: 60px;
            height: 60px; } }
        .customer-reviews .slider-customer .item .flex .photo img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .customer-reviews .slider-customer .item .flex .title {
        font-size: 20px;
        font-weight: 500; }
        @media (max-width: 999px) {
          .customer-reviews .slider-customer .item .flex .title {
            font-size: 18px; } }
      .customer-reviews .slider-customer .item .flex .job {
        color: #E83646;
        font-size: 15px; }
        @media (max-width: 999px) {
          .customer-reviews .slider-customer .item .flex .job {
            font-size: 14px; } }
    .customer-reviews .slider-customer .item .comma {
      position: absolute;
      right: 24px;
      top: 24px; }
      .customer-reviews .slider-customer .item .comma svg {
        min-width: 36px;
        max-width: 36px;
        max-height: 26px;
        fill: #e8364642; }
    .customer-reviews .slider-customer .item p {
      margin-top: 8px; }
      @media (max-width: 999px) {
        .customer-reviews .slider-customer .item p {
          font-size: 14px; } }

.values-section {
  background: #1a33530a; }
  .values-section .target-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 32px; }
    @media (max-width: 999px) {
      .values-section .target-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 24px;
        gap: 12px; } }
    .values-section .target-grid .target-card {
      background: #fff;
      border: 1px solid #E2E8F0;
      border-radius: 16px;
      padding: 32px;
      box-shadow: 0px 4px 12px 0px #00000004; }
      @media (max-width: 999px) {
        .values-section .target-grid .target-card {
          padding: 24px; } }
      .values-section .target-grid .target-card .card-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: #e836461c;
        border-radius: 8px;
        margin-bottom: 12px; }
        .values-section .target-grid .target-card .card-icon svg {
          width: 30px;
          height: 30px; }
          .values-section .target-grid .target-card .card-icon svg path {
            fill: #E83646; }
      .values-section .target-grid .target-card .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 8px; }

.error404 {
  position: relative;
  width: 100%;
  padding: 48px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  text-align: center;
  background: #F3F4F6; }
  @media (max-width: 999px) {
    .error404 {
      padding: 24px 0px; } }
  .error404 .title {
    font-size: 150px !important;
    color: #000;
    width: 100%;
    text-align: center; }
  .error404 p {
    color: #0095DA;
    font-size: 24px;
    margin-top: 72px; }
  .error404 .bottom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    outline: none;
    outline-style: none;
    border: 0px;
    gap: 4px;
    text-align: center;
    background: #E83646;
    border-radius: 60px;
    font-weight: 500;
    white-space: nowrap;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    padding: 8px 24px;
    float: none;
    display: inline-flex;
    margin-top: 32px;
    box-shadow: 0px 2px 17px rgba(73, 73, 73, 0.1);
    padding: 12px 20px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    background-clip: padding-box; }
    .error404 .bottom::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(0deg, transparent, transparent 30%, #ffffff36);
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0; }
    .error404 .bottom:hover {
      box-shadow: 0 0 20px #e8364661; }
      .error404 .bottom:hover::before {
        opacity: 1;
        transform: rotate(-45deg) translateY(120%); }
    .error404 .bottom:focus {
      outline: none;
      outline-style: none;
      border: 0px; }
    .error404 .bottom svg {
      min-width: 22px;
      max-width: 22px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 999px) {
        .error404 .bottom svg {
          min-width: 18px;
          max-width: 18px; } }

.scrollTopBtn {
  position: fixed;
  right: -100px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 0px;
  z-index: 998;
  border-radius: 5px;
  background: #E83646;
  cursor: pointer;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  @media (max-width: 999px) {
    .scrollTopBtn {
      display: none; } }
  .scrollTopBtn.show {
    right: 12px;
    opacity: 1; }
  .scrollTopBtn:hover {
    background: #0095DA; }
  .scrollTopBtn svg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 15px;
    height: 15px; }
    .scrollTopBtn svg path {
      fill: #fff; }

.footer {
  position: relative;
  width: 100%;
  background: #0D2648 url(../images/background.png) no-repeat fixed center center/cover;
  padding-top: 48px; }
  .footer .rowbox {
    display: grid;
    grid-template-columns: 450px 1fr 1fr;
    gap: 48px; }
    @media (max-width: 999px) {
      .footer .rowbox {
        gap: 24px;
        grid-template-columns: repeat(1, 1fr); } }
  .footer .item .logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .item .logo img {
      max-width: 193px; }
  .footer .item .title {
    color: #fff;
    font-size: 20px;
    font-weight: 500; }
    @media (max-width: 999px) {
      .footer .item .title {
        text-align: center; } }
  .footer .item .media {
    display: flex;
    gap: 8px;
    margin-top: 12px; }
    @media (max-width: 999px) {
      .footer .item .media {
        justify-content: center; } }
    .footer .item .media svg,
    .footer .item .media img {
      min-width: 18px;
      min-height: 18px;
      margin-top: 4px; }
    .footer .item .media .contant p,
    .footer .item .media .contant a {
      display: block;
      width: 100%;
      color: #fff;
      margin: 0px;
      font-size: 14px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
    .footer .item .media .contant a:hover {
      color: #E83646; }
  .footer .item .social {
    margin-top: 20px; }
    @media (max-width: 999px) {
      .footer .item .social {
        justify-content: center; } }
  .footer .item .navmenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 16px; }
    .footer .item .navmenu a {
      display: block;
      position: relative;
      color: #fff;
      font-size: 14px;
      text-transform: capitalize;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      .footer .item .navmenu a:hover {
        color: #E83646; }
      @media (max-width: 999px) {
        .footer .item .navmenu a {
          text-align: center; } }
  .footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0px;
    border-top: 1px solid #ffffff14;
    margin-top: 48px; }
    .footer .copyright p {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 14px; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
  direction: ltr;
  text-align: start;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  list-style: none;
  color: #3B3B3B;
  font: normal 400 16px/28px "Poppins", sans-serif; }

::-webkit-scrollbar {
  width: 5px;
  height: 2px; }

::-webkit-scrollbar-track {
  background: #D9D9D9; }

::-webkit-scrollbar-thumb {
  background-color: #E83646;
  cursor: pointer; }

img {
  width: auto;
  height: auto; }

.che-box {
  position: relative;
  cursor: pointer;
  font-weight: 300;
  padding-right: 22px; }
  .che-box input[type="checkbox"],
  .che-box input[type="radio"] {
    position: absolute;
    left: 9000px; }
  .che-box input[type="checkbox"] + .label-text:before,
  .che-box input[type="radio"] + .label-text:before {
    content: ' ';
    border: 1px solid #D9D9D9;
    background: #D9D9D9;
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 0;
    border-radius: 4px; }
  .che-box input[type="radio"] + .label-text:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box; }
  .che-box input[type="radio"]:checked + .label-text:before {
    background: #0095DA;
    box-shadow: inset 0 0 0px 4px #fff; }
  .che-box input[type="checkbox"]:checked + .label-text:before {
    background: #0095DA url(../images/tick.svg) no-repeat center center;
    border: 1px solid #0095DA; }
  .che-box span.label-text {
    font-weight: 300;
    color: #000;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }

.map-back {
  position: relative;
  width: 100%;
  padding: 48px 0px;
  overflow: hidden;
  height: 280px;
  padding: 0px;
  background: #0D2648;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 999px) {
    .map-back {
      padding: 24px 0px; } }
  @media (max-width: 999px) {
    .map-back {
      height: 230px; } }
  .map-back img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .map-back:before {
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0d264800, #0d2648);
    z-index: 1; }
    @media (max-width: 999px) {
      .map-back:before {
        background: linear-gradient(to bottom, #0d264800, #0d2648); } }
  .map-back .container {
    z-index: 10; }
  .map-back .title {
    color: #fff; }

textarea.form-control {
  height: 250px;
  resize: none; }

section {
  position: relative;
  width: 100%;
  padding: 48px 0px;
  overflow: hidden; }
  @media (max-width: 999px) {
    section {
      padding: 24px 0px; } }

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 150%;
  color: #000;
  text-transform: capitalize; }
  @media (max-width: 999px) {
    .title {
      font-size: 28px; }
      .title br {
        display: none; } }

.bottom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  outline: none;
  outline-style: none;
  border: 0px;
  gap: 4px;
  text-align: center;
  background: #E83646;
  border-radius: 60px;
  font-weight: 500;
  white-space: nowrap;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  padding: 8px 24px; }
  .bottom::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg, transparent, transparent 30%, #ffffff36);
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0; }
  .bottom:hover {
    box-shadow: 0 0 20px #e8364661; }
    .bottom:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(120%); }
  .bottom:focus {
    outline: none;
    outline-style: none;
    border: 0px; }
  .bottom svg {
    min-width: 22px;
    max-width: 22px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 999px) {
      .bottom svg {
        min-width: 18px;
        max-width: 18px; } }

.alert {
  display: flex;
  align-items: center;
  border: 0px;
  margin: 0px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  height: 60px; }
  .alert strong {
    margin-left: 8px;
    color: #856404; }
  .alert a {
    text-decoration: underline;
    color: #fff;
    font-weight: 400; }
    .alert a:hover {
      text-decoration: none; }
  .alert .text-mass {
    margin: 0px !important;
    margin-right: 12px !important; }
  .alert p {
    color: #fff;
    margin: 0px !important; }
  .alert.alert-success {
    background: linear-gradient(303.91deg, #1F7A66 7.57%, #60B3A7 94.39%); }
  .alert.alert-danger {
    background: linear-gradient(303.91deg, #C24848 7.57%, #D34A4A 94.39%); }

.form-control {
  height: 42px;
  text-transform: none;
  background: #F8FAFD;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 1px solid transparent;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .form-control:focus, .form-control:hover, .form-control:focus-visible {
    border: 1px solid #0095DA;
    outline: 0;
    outline-style: none;
    box-shadow: none; }

select.form-control {
  -webkit-appearance: none;
  background: #fff url(../images/arrow.svg) no-repeat;
  background-position: 12px 16px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }

.pagination {
  width: 100%;
  margin-top: 32px;
  justify-content: center;
  overflow: hidden; }
  @media (max-width: 999px) {
    .pagination {
      margin-top: 24px;
      padding-bottom: 12px;
      overflow-x: scroll;
      justify-content: flex-start; } }
  .pagination li {
    display: inline-block;
    margin: 0px 8px; }
    .pagination li a,
    .pagination li span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #000;
      -webkit-border-radius: 16px !important;
      border-radius: 16px !important;
      background-clip: padding-box;
      min-width: 44px;
      height: 44px;
      border: 0px;
      background: #E6E6E6;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      color: #8B8B8B; }
    .pagination li svg {
      width: 12px;
      height: 12px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
    .pagination li:first-child, .pagination li:last-child {
      min-width: 84px; }
      .pagination li:first-child a, .pagination li:last-child a {
        color: #0095DA;
        font-size: 12px; }
        .pagination li:first-child a svg, .pagination li:last-child a svg {
          max-width: 12px;
          height: 12px;
          fill: #0095DA; }
    .pagination li:last-child {
      margin-left: 0px; }
      .pagination li:last-child svg {
        transform: rotate(90deg);
        margin-right: 4px; }
    .pagination li:first-child {
      margin-right: 0px; }
      .pagination li:first-child svg {
        transform: rotate(-90deg);
        margin-left: 4px; }
  .pagination .page-link.active,
  .pagination .page-link:hover {
    background: #0095DA !important;
    color: #fff !important; }
    .pagination .page-link.active svg,
    .pagination .page-link:hover svg {
      fill: #fff; }

.maplink {
  display: flex;
  text-transform: capitalize;
  margin-top: 8px; }
  .maplink li {
    display: inline-block;
    color: #fff;
    margin-inline-end: 12px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .maplink li:last-child {
      margin: 0px; }
    .maplink li a {
      color: #E83646;
      position: relative;
      padding-inline-end: 12px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      .maplink li a:hover {
        color: #E83646; }
      .maplink li a:before {
        position: absolute;
        top: -3px;
        right: -2px;
        content: "|";
        display: inline-block;
        color: #fff; }

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr; }
  .social a {
    position: relative;
    margin: 0px 8px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .social a svg {
      fill: #fff;
      width: 20px;
      height: 20px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
    .social a:hover {
      opacity: 0.7; }

.minhead {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .minhead {
      flex-wrap: wrap; } }
  .minhead .listlinks {
    display: flex;
    gap: 12px; }
    @media (max-width: 767px) {
      .minhead .listlinks {
        margin-top: 12px;
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        padding-left: 4px; }
        .minhead .listlinks::-webkit-scrollbar {
          height: 0px; } }
    .minhead .listlinks a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      border: 1px solid #CACACA;
      border-radius: 5px;
      min-width: 80px;
      height: 34px;
      color: #000;
      cursor: pointer;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      .minhead .listlinks a svg {
        min-width: 10px;
        max-width: 10px;
        margin-left: 4px;
        fill: #0095DA;
        display: none;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
      .minhead .listlinks a:hover {
        border: 1px solid #0095DA;
        background: #0095DA;
        color: #fff; }
        .minhead .listlinks a:hover svg {
          fill: #fff; }
      .minhead .listlinks a.active {
        border: 1px solid #0095DA; }
        .minhead .listlinks a.active svg {
          display: block; }
  .minhead .position-relative {
    min-width: 265px; }
    @media (max-width: 478px) {
      .minhead .position-relative {
        min-width: 100%;
        margin-top: 12px; } }
    .minhead .position-relative .icon {
      position: absolute;
      right: 12px;
      top: 5px; }
      .minhead .position-relative .icon svg {
        width: 24px;
        height: 24px; }
    .minhead .position-relative .form-control {
      font-size: 16px;
      padding-right: 44px;
      border: 1px solid #D4D4D4; }

.slider-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 40px;
  height: 100%;
  margin: 0px auto;
  z-index: 10; }
  .slider-loader .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #F3F4F6;
    border-top: 4px solid #E83646;
    border-radius: 50%;
    animation: spin 1s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.slick-loading {
  visibility: hidden; }

.slick-loaded {
  visibility: visible;
  transition: visibility 0s 0s, opacity 0.3s ease; }

/*# sourceMappingURL=home.css.map */
