.scrollTopBtn {
    @include position(fixed, $right: -100px, $bottom: $com-spacing-3);
    @include flex;
    width: 44px;
    height: 44px;
    border: $zero;
    z-index: 998;
    border-radius: 5px;
    background: $red;
    cursor: pointer;
    opacity: 0;
    @include transition(all 0.5s ease-in-out 0s);
    @media (max-width: 999px) {
        display: $none;
    }
    &.show {
        right: $com-spacing-3;
        opacity: 1;
    }
    &:hover {
        background: $blue;
    }
    svg {
        @include rotate(90deg);
        width: 15px;
        height: 15px;
        path {
            fill: $white;
        }
    }
}

.footer {
    position: relative;
    width: $fullwidth;
    background: $dark url(../images/background.png) no-repeat fixed center center/cover;
    padding-top: $com-spacing-8;
    .rowbox {
        display: grid;
        grid-template-columns: 450px 1fr 1fr;
        gap: $com-spacing-8;
        @media (max-width: 999px) {
            gap: $com-spacing-6;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .item {
        .logo {
            @include flex;
            @media (max-width: 999px) {}
            img {
                max-width: 193px;
            }
        }
        .title {
            color: $white;
            font-size: 20px;
            font-weight: 500;
            @media (max-width: 999px) {
                text-align: center;
            }
        }
        .media {
            display: flex;
            // align-items: center;
            gap: $com-spacing-2;
            margin-top: $com-spacing-3;
            @media (max-width: 999px) {
                justify-content: center;
            }
            svg,
            img {
                min-width: 18px;
                min-height: 18px;
                margin-top: $com-spacing-1;
            }
            .contant {
                p,
                a {
                    display: block;
                    width: $fullwidth;
                    color: $white;
                    margin: $zero;
                    font-size: 14px;
                    @include transition(all 0.5s ease-in-out 0s);
                }
                a {
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
        .social {
            margin-top: $com-spacing-5;
            @media (max-width: 999px) {
                justify-content: center;
            }
        }
        .navmenu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $com-spacing-2;
            margin-top: $com-spacing-4;
            a {
                @include hyprlink;
                @media (max-width: 999px) {
                    text-align: center;
                }
            }
        }
    }
    .copyright {
        @include flex;
        width: $fullwidth;
        padding: $com-spacing-4 $zero;
        border-top: 1px solid #ffffff14;
        margin-top: $com-spacing-8;
        p {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 14px;
            @media (max-width: 999px) {}
        }
    }
}
