.header {
    position: relative;
    width: $fullwidth;
    background: $white;
    // padding: $com-spacing-3 $zero;
    border-bottom: 1px solid $white;
    @include transition(all 0.5s ease-in-out 0s);
    z-index: 1002;
    @include prefixer (box-shadow, 4px 4px 60px rgba(0, 0, 0, 0.1), webkit moz o ms);
    @media (max-width: 999px) {
        padding: $com-spacing-2 $zero;
    }
    &.sticky {
        position: fixed;
        top: $zero;
        left: $zero;
        @include prefixer (box-shadow, 4px 4px 60px rgba(0, 0, 0, 0.1), webkit moz o ms);
        @include transition(all 0.5s ease-in-out 0s);
        animation: slideDown 0.4s ease forwards;
        @media (max-width: 999px) {
            animation: none;
        }
        @keyframes slideDown {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }
        .logo {
            img {
                max-width: 75px;
                @media (max-width: 999px) {
                    max-width: 75px;
                }
            }
        }
        .menu-item {
            height: 84px;
            @media (max-width: 999px) {
                height: auto;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 999px) {}
    }
    .burger {
        position: relative;
        display: none;
        cursor: pointer;
        user-select: none;
        width: 24px;
        height: 1rem;
        background: transparent;
        &-line {
            position: absolute;
            display: block;
            right: $zero;
            width: 100%;
            height: 2px;
            opacity: 1;
            border: none;
            outline: none;
            background: $blak;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 0.5rem;
                width: 80%;
            }
            &:nth-child(3) {
                top: 1rem;
                width: 60%;
            }
        }
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
    .logo {
        img {
            max-width: 100px;
            @media (max-width: 999px) {
                max-width: 75px;
            }
        }
    }
    .navbar {
        position: relative;
        padding: $zero;
        .logo {
            display: none;
            @media screen and (max-width: 999px) {
                // position: absolute;
                // top: $com-spacing-3;
                // left: $com-spacing-3;
                display: block;
                // margin: $com-spacing-6 $zero;
                img {
                    max-width: 110px;
                }
            }
        }
        .cancel {
            display: none;
            position: absolute;
            top: 18px;
            right: 18px;
            z-index: 10;
            svg {
                width: 16px;
                height: 16px;
            }
        }
        @media screen and (max-width: 999px) {
            display: block;
            position: fixed;
            top: 0;
            left: -100%;
            width: 290px;
            height: 100%;
            z-index: 10;
            opacity: 0;
            overflow: hidden;
            overflow-y: auto;
            visibility: hidden;
            box-shadow: 0px 10px 40px 0px #06163a1a;
            background: $white;
            padding: $com-spacing-3;
            transition: all 0.5s ease;
            &.active {
                left: 0rem;
                opacity: 1;
                visibility: visible;
            }
            .cancel {
                display: block;
            }
        }
    }
    // Menu
    .menu {
        display: flex;
        align-items: center;
        gap: $com-spacing-7;
        &-item {
            position: relative;
            height: 108px;
            display: flex;
            align-items: center;
            @media (max-width: 999px) {
                border-bottom: 1px solid $ofwhite;
                height: auto;
            }
        }
        &-link {
            @include flex;
            position: relative;
            cursor: pointer;
            color: $blak;
            text-transform: capitalize;
            @include transition(all 0.5s ease-in-out 0s);
            @media (max-width: 999px) {
                justify-content: space-between;
                padding: $com-spacing-1 $zero;
            }
            &::after {
                content: "";
                position: absolute;
                left: -16px;
                top: 14px;
                width: $zero;
                height: 3px;
                background: $red;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    display: none;
                }
            }
            svg {
                position: relative;
                max-width: 16px;
                height: 16px;
                fill: $blak;
                @media only screen and (max-width: 999px) {
                    z-index: -1;
                }
            }
        }
        // Responsive Media Query
        @media only screen and (min-width: 999px) {
            &-dropdown:hover {
                >.submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    z-index: 100;
                }
            }
        }
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            display: block;
            width: 100%;
            height: auto;
            margin-top: $com-spacing-8;
            &-item {
                display: block;
            }
        }
        .activelink {
            .menu-link {
                color: $red;
                &::after {
                    width: 12px;
                }
            }
        }
        .activelink,
        .menu-item:hover {
            .menu-link {
                color: $red;
                &::after {
                    width: 12px;
                }
            }
        }
        .activelink {
            .submenu {
                @media only screen and (max-width: 999px) {
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                }
            }
        }
    }
    // Submenu
    .submenu {
        position: absolute;
        top: $fullwidth;
        left: $zero;
        width: 244px;
        height: auto;
        visibility: hidden;
        transform: translateY(1rem);
        background: $white;
        @include prefixer (box-shadow, 4px 4px 60px rgba(0, 0, 0, 0.1), webkit moz o ms);
        border-radius: $zero $zero 16px 16px;
        @include transition(all 0.5s ease-in-out 0s);
        overflow: hidden;
        padding: $com-spacing-3;
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            display: block;
            position: relative;
            max-height: 0px;
            outline: none;
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
            box-shadow: none;
            padding: $zero;
            background: $ofwhite;
            width: $fullwidth;
            border-radius: $zero;
        }
        a {
            display: block;
            @include transition(all 0.5s ease-in-out 0s);
            text-transform: capitalize;
            font-size: 14px;
            border-bottom: 1px solid #ECECEC;
            padding-bottom: $com-spacing-2;
            margin-bottom: $com-spacing-2;
            @media only screen and (max-width: 999px) {
                padding: $com-spacing-2 $com-spacing-3;
                margin: $zero;
            }
            &:last-child {
                margin: $zero;
                border-bottom: $zero;
                padding-bottom: $zero;
                @media only screen and (max-width: 999px) {
                    padding-bottom: $com-spacing-2;
                }
            }
            &:hover {
                color: $red;
            }
        }
    }
    // Overlay
    .overlay {
        position: fixed;
        top: $zero;
        left: $zero;
        height: $fullwidth;
        width: $fullwidth;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s ease-in-out;
        background-color: rgba(0, 0, 0, 0.65);
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            &.active {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    /* End NavMenu */
    .actions {
        display: flex;
        align-items: center;
        gap: $com-spacing-3;
        .language {
            @include flex;
            position: relative;
            border-radius: 50%;
            border: 1px solid $red;
            min-width: 44px;
            height: 44px;
            @include transition(all 0.5s ease-in-out 0s);
            @media (max-width: 999px) {
                min-width: 30px;
                height: 30px;
                font-size: 14px;
            }
            &:hover {
                // transform: scale(1.05);
                box-shadow: 0 0 20px #e8364661;
            }
        }
        .bottom {
            @media (max-width: 999px) {
                display: none;
            }
        }
    }
}

//////////////////////// End header
