.slider-item {
    padding: $zero !important;
    height: calc(100vh - 109px);
    overflow: hidden;
    @media (max-width: 999px) {
        height: 80vh;
    }
    .carousel {
        @include slidercarousel;
    }
    .container {
        display: flex;
        align-items: center;
        position: absolute;
        left: $zero;
        right: $zero;
        top: $zero;
        height: $fullwidth;
        z-index: 1;
        .contant {
            max-width: 50%;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                text-align: center;
            }
            span {
                display: block;
                color: $red;
                margin-bottom: $com-spacing-3;
                @media (max-width: 999px) {
                    display: none;
                }
            }
            .title {
                color: $white;
                margin-bottom: $com-spacing-3;
                @media (max-width: 999px) {
                    text-align: center;
                }
            }
            p {
                color: #ffffffe0;
                @media (max-width: 999px) {
                    display: none;
                }
            }
            .bottom {
                margin-top: $com-spacing-5;
            }
        }
    }
}
